        content: '';
        display: block;
        width: 30px;
        -webkit-filter: blur(24px);
        filter: blur(24px);
        height: 30px;
        background: rgba(255, 255, 255, 0.3);
        position: absolute;
